@use '../_common' as *

footer
    background: $black
    width: 100%
    height: 100%
    .upper_section 
        border-image: linear-gradient(45deg, #9F711A, #232202) 1
        border-top: 2px solid
        .copywrite
            padding: 20px var(--containerfluid) 
            display: flex
            align-items: center
            justify-content: space-between
            @include media(540) 
                flex-direction: column
                gap: 10px
            p
                color: #9C9A9A
            .credit
                display: flex
                align-items: center
                gap: 10px
                a
                    display: block
                    line-height: 1
                    img
                        width: 100px
                        @include media(1366)
                            width: 80px
        .flex
            border-bottom: 1px solid #DCD6D633
            align-items: center
            padding: 50px var(--containerfluid) 70px
            @include media(768) 
                padding: 30px var(--containerfluid) 50px
                flex-direction: column
                gap: 40px
            .colA
                flex: 0 1 50%
                max-width: 50%
                width: 100%
                @include media(768) 
                    flex: 1
                    max-width: 100%
                .logo
                    width: 300px
                ul
                    padding: 30px 0
                    li
                        max-width: 290px
                        &:not(:last-child)
                            a
                                padding-bottom: 10px
                        a
                            display: inline-flex
                            align-items: center
                            gap: 10px
                            color: #FFFFFF80
                            &:hover
                                color: $white
                            svg
                                flex: 0 1 40%
                                display: none
            .colB
                flex: 0 1 50%
                max-width: 50%
                width: 100%
                display: flex
                gap: 70px
                @include media(1366)
                    gap: 50px
                @include media(991) 
                    gap: 40px
                    justify-content: center
                @include media(768) 
                    flex: 1
                    max-width: 100%
                    justify-content: start
                ul
                    @include media(768) 
                        flex: 1
                    li
                        a
                            display: block
                            padding-bottom: 30px
                            font-size: 24px
                            @include media(1366)
                                padding-bottom: 20px
                            @include media(991) 
                                font-size: 22px
                            @include media(540) 
                                font-size: 20px
                                padding-bottom: 15px
                            &:hover
                                transform: translate(5px)

    .footer-banner
        .bg
            height: 70vh
            @include media(991) 
                height: 60vh
            @include media(540)     
                height: 40vh
            .banner-wrapper
                padding: 0 var(--containerfluid)
                top: 10%
                translate: 0 10%
                .heading
                    h1
                        font-size: 6vw

.sticky_action
    align-items: center
    gap: 15px
    position: fixed
    bottom: 3%
    right: 3%
    translate: 3% 3%
    z-index: 5
    .whatsapp
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        border-radius: 50%
        background-color: $white
        box-shadow: 0 5px 15px 0 #00000059
        &:hover
            background: var(--secondary)
            img 
                filter: invert(0)
        img
            width: 25px
            height: 25px
            object-fit: cover
            vertical-align: middle
            filter: invert(1)
    .call_action
        display: flex
        align-items: center
        gap: 5px
        background: $white
        padding: 8px 20px
        border-radius: 50px
        box-shadow: 0 5px 15px 0 #00000059
        &:hover
            background: var(--secondary)
            p
                color: $white
        img
            width: 25px
            height: 25px
        p
            font-weight: 500
            color: $black
            transition: .3s ease

.model.ham-pop
    right: 0
    max-width: 480px
    transform: translateX(100%)
    transition: .5s ease
    z-index: 10
    &::before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: url(/assets/icon/ub_grad.svg) no-repeat
        background-size: 50% 30%
        background-position: right bottom
        opacity: 0.04
    &.is-open
        transform: translateX(0%)
    .close
        top: 17px
        right: 22px
        z-index: 1
        svg
            width: 18px
            path
                stroke: $black !important
                stroke-width: 2 !important
    .model-body
        padding: 0px 40px 30px
        margin-top: 40px
        height: calc(100% - 40px)
        overflow-y: auto
        display: flex
        flex-direction: column
        position: relative
        @include scrollbar(0px,$black,#fff,0px)
        @include media(540)
            padding: 0 20px 40px
        .icon
            img,svg 
                width: 200px
                height: auto
                path 
                    fill: #000
        .nav-list
            width: 100%
            margin: 4rem 0 3rem
            >li
                cursor: pointer
                &:not(:last-child)
                    margin-bottom: 25px
                &.desktop-non
                    display: none
                a
                    font-size: 36px
                    line-height: 1.06
                    color: #00000080
                    display: inline-block
                    @include font(500)
                    &:hover
                        color: var(--primary)
        .bottom-list
            padding-top: 1rem
            display: flex
            align-items: center 
            gap: 1rem
            border-top: 1px solid #ccc
            .social-icons
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    color: #000
                    line-height: 0
                    overflow: hidden
                    &:not(:last-child)
                        margin-right: 8px
                    &:hover
                        background: var(--secondary)
                        img
                            filter: invert(0)
                    img
                        width: 24px
                        height: 24px
                        filter: invert(1)
                        transition: .5s ease

.enquire-pop.model
    right: 0
    transform: translateX(100%)
    transition: .5s ease
    background: #fff
    &.is-open
        transform: translateX(0%)
    .model-body
        margin-top: 70px
        overflow-y: auto
        padding: 0px 35px 30px
        height: calc( 100% - 40px )
        @include scrollbar(3px,$white,var(--secondary),8px)
        .title
            margin-bottom: 1.5rem
            text-align: center
            .icon
                width: 200px
                height: auto
                margin-bottom: 30px
                img
                    object-fit: contain
            h2
                font-size: 20px
                color: $black
                line-height: 1.2
                @include font(500)
            p
                color: $text
                margin-top: 10px
                font-size: 16px
                line-height: 1.2
                max-width: 340px
                @include media(675)
                    font-size: 14px
                    max-width: 300px
        .form
            --item: 1
            --labelbefore: var(--text)
            --labelafter: #000
            --borderbefore: var(--text)
            --borderafter: #000
        .btn
            margin: 15px auto 0
            width: 100%
            --height: 40px
            height: 40px

.video-pop.model
    left: 0
    right: 0
    background: #0000007a
    z-index: 9
    max-width: 100%
    transform: translateY(100%)
    transition: .5s ease
    &.is-open
        transform: translateY(0%)
    .close-video
        position: absolute
        bottom: calc(100% + 20px)
        top: auto
        right: -40px
        height: 50px
        width: 50px
        border-radius: 50%
        background: $black
        display: flex
        align-items: center
        justify-content: center
        @include media(675)
            right: 0
        &:hover
            background: $black
        svg
            height: 35%
            width: 35%
        path
            stroke-width: 2
            stroke: $white
    .model-body
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: 100%
        max-width: 50%
        @include media(675)
            max-width: 95%
        iframe
            width: 100%
            aspect-ratio: 1.9
            border: 2px solid $white