@use '../../styles/_common' as * 

.aboutus_banner.hero-banner.banner
    .bg
        @include media(540)
            height: 70vh
    .banner-wrapper
        .heading
            max-width: 780px
            h2
                font-size: 48px
                @include media(1440) 
                    font-size: 42px
                @include media(991) 
                    font-size: 36px
                @include media(768) 
                    font-size: 30px
                @include media(540)
                    font-size: 20px
            p
                font-size: 40px
                font-weight: 400
                margin-top: 15px
                @include media(1440) 
                    font-size: 36px
                @include media(991) 
                    font-size: 30px
                @include media(768) 
                    font-size: 24px
                @include media(540)
                    font-size: 18px

.about-secA
    @include before-blur
    &::before
        filter: blur(120px)
        right: 30%
        bottom: 0%
        translate: 30% 0%
    .flex
        align-items: center
        --gap: 80px
        gap: var(--gap)
        @include media(1440) 
            --gap: 50px
        @include media(991) 
            --gap: 30px
            flex-direction: column
        @include media(540)
            --gap: 20px
        .colA
            flex: 0 1 calc(50% - var(--gap))
            max-width: calc(50% - var(--gap))
            width: 100%
            @include media(991) 
                max-width: 100%
            figure
                img
                    border-radius: 15px 
        .colB
            flex: 0 1 50%
            max-width: 50%
            width: 100%
            @include media(991) 
                max-width: 100%
            figcaption
                h2
                    font-size: 36px
                    @include media(1440) 
                        font-size: 34px
                    @include media(768) 
                        font-size: 30px
                    @include media(540)
                        font-size: 20px
                .desc
                    padding: 15px 0 30px
                    @include media(540)
                        padding: 15px 0 20px
                    p
                        line-height: 1.5
                        color: #FFFFFFB2
                        padding-bottom: 10px
                .counter-wrapper
                    display: flex
                    gap: 30px
                    .counter-info-wrap
                        h5
                            font-size: 24px
                            color: var(--secondary)
                            font-weight: 700
                            padding-bottom: 5px
                        p
                            font-size: 14px
                            color: #FFFFFFB2

.about-secB
    @include before-blur
    &::before
        filter: blur(120px)
        left: 20%
        bottom: 0%
        translate: 20% 0%
    .heading
        text-align: center
        h2
            font-family: $Lato
            text-transform: capitalize
            font-weight: 400
            font-size: 36px
            @include media(1440) 
                font-size: 34px
            @include media(768) 
                font-size: 26px
            @include media(540)
                font-size: 24px
            span
                font-size: 36px
                text-transform: uppercase
                font-family: $Zoom
                font-weight: 500
                @include media(1440) 
                    font-size: 34px
                @include media(768) 
                    font-size: 20px
                @include media(540)
                    display: block
    .why_wrapper
        .tab-nav
            margin: 40px 0 60px
            display: flex
            align-items: center
            justify-content: center
            gap: 80px
            @include media(1440) 
                gap: 50px
            @include media(991) 
                gap: 20px
                margin: 30px 0 50px
            @include media(768) 
                gap: 15px
                margin: 30px 0 40px
            @include media(540)
                overflow-x: auto
                margin: 30px 0
                justify-content: start
            li
                position: relative
                color: #8C8C8C
                font-size: 20px
                font-weight: 400
                max-width: 230px
                text-align: center
                padding-bottom: 15px
                cursor: pointer
                @include media(991) 
                    font-size: 18px
                @include media(768) 
                    font-size: 14px
                @include media(540)
                    white-space: nowrap
                &.active
                    color: $white
                    &::before
                        width: 100%
                &::before
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 0
                    height: 2px
                    background: $white
                    transition: .5s ease
                    width: 0%
        .tab-nav-content
            .why-content
                align-items: center
                --gap: 60px
                gap: var(--gap)
                @include media(1440) 
                    --gap: 40px
                @include media(991) 
                    align-items: start
                    --gap: 30px
                @include media(768) 
                    flex-direction: column
                figure
                    flex: 0 1 50%
                    max-width: 50%
                    width: 100%
                    border-radius: 15px
                    @include media(768) 
                        flex: 1
                        max-width: 100%
                    img
                        border-radius: 15px 
                figcaption
                    flex: 0 1 calc(50% - var(--gap))
                    max-width: calc(50% - var(--gap))
                    width: 100%
                    @include media(768) 
                        flex: 1
                        max-width: 100%
                    h5
                        font-size: 30px
                        text-transform: capitalize
                        color: var(--secondary)
                        @include media(540)
                            font-size: 24px
                    .desc
                        padding: 15px 0 0
                        p
                            color: #A9A9A9
                            line-height: 1.5
                            padding-bottom: 15px

.about-secC
    @include before-blur
    &::before
        filter: blur(120px)
        right: 20%
        bottom: 20%
        translate: 20% 20%
    .flex
        align-items: center
        justify-content: center
        --gap: 80px
        gap: var(--gap)
        @include media(1440) 
            --gap: 60px
        @include media(991) 
            --gap: 50px
        @include media(768)
            flex-direction: column
            --gap: 20px
        figure
            flex: 0 1 40%
            max-width: 40%
            width: 100%
            border-radius: 15px
            @include media(768)
                flex: 0 1 50%
                max-width: 50%
            @include media(540)
                flex: 1
                max-width: 100%
            img
                border-radius: 15px 
        figcaption
            flex: 1
            max-width: 50%
            text-align: center
            @include media(768)
                max-width: 100%
            .icon
                width: 50px
                margin: 0 auto 30px
                @include media(991) 
                    margin: 0 auto 20px
                @include media(768)
                    margin: 0 auto
            h3
                font-size: 48px
                font-family: $Lato
                text-transform: capitalize
                @include media(991) 
                    font-size: 36px
                @include media(768)
                    font-size: 32px
            .desc
                padding: 15px 0 30px
                max-width: 400px 
                margin: 0 auto 
                @include media(991) 
                    padding: 10px 0 20px 
                @include media(768)
                    max-width: 90%
                p
                    color: #FFFFFFB2
                    font-size: 18px
                    line-height: 1.5
                    @include media(768)
                        font-size: 16px
            .designation
                img
                    width: 200px
                p
                    font-size: 20px
                    line-height: 1.5

.about-secD
    .upper-sec
        position: relative
        margin-bottom: 50px
        @include media(991) 
            margin-bottom: 40px
        .heading
            text-align: center 
            @include media(991) 
                max-width: 470px
                margin: 0 auto 
            h2
                @include media(1440) 
                    font-size: 30px
                @include media(991) 
                    font-size: 26px
                @include media(768)
                    font-size: 22px
                @include media(540)
                    font-size: 18px
        .swiper-nav
            position: absolute
            right: 0
            top: 50%
            translate: 0 -50%
    .team_wrapper
        .team-member
            figcaption
                .play-btn
                    display: none