@font-face {
    font-family: 'Zoom';
    src: url('ZoomPro-BrutalMedium.woff2') format('woff2'),
        url('ZoomPro-BrutalMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}